/* .container {
    margin: 100px auto;
    padding: 20px;
} */

.module__card {
    display: flex;
    width: 95%;
    max-width: 753px;
    min-width: 550px;
    height: 183px;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto 1rem auto;
}

.enrollment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid #F5F5F5;
    padding-left: none;
}

.icon {
    font-size: 3rem;
    margin-top: 47px;
    margin-bottom: 10px;
}

.enrollment__p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #222428;
    margin-top: 0;
    margin-bottom: 0.525rem;
}

.done {
    box-sizing: border-box;
    width: 173px;
    margin-left: none;
    background: #2EBB4D;
    border-radius: 0px 0px 0px 10px;
    margin-bottom: 0;
    text-align: center;
    padding: 0.4em;
    padding-right: 0.7em;
}

.module__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.done__p {
    margin: 0;
}

.main {
    box-sizing: border-box;
    padding-left: 1.25rem;

}

.main__p {
    height: 40%;
    color: #222428;
    margin-bottom: 0;
    margin-right: 22%;
    font-size: 0.8rem;
    line-height: 1.35rem;
    font-weight: normal;
}

.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.detail__p{
    text-align: left;
    color: #ABABAB;
}

.detail__button {
    margin-right: 1.25rem;
    /* margin-bottom: 1rem; */
}

@media (max-width: 700px){
    

    .detail__button {
        margin-right: 0.5rem;
    }

    .detail__p {
        display: flex;
        flex-direction: column;
    }
}