.lesson {
    padding: 0.5em;
}

.head__icon {
    margin-right: 5px;
}


/* typhography  */
.lesson__name{
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 0;
}


.lesson__lang {
    font-size: var(--fs-m-p);
    line-height: var(--lh-m-p);    
}

.lesson__name,
.lesson__type,
.lesson__rate,
.lesson__price,
.lesson__importance  {
    font-size: var(--fs-sm-p);
    line-height: var(--lh-sm-p);   
}

.lesson__importance {
    line-height: 21px;
}


/* color */
.head__section,
.lesson__lang,
.lesson_rate {
    color: var(--black);
}

.imp__yellow {
    color: var(--yellow);
}

.imp__red {
    color: var(--red);
}

.lesson__price {
    color: var(--green);
}

.start__button {
    color: var(--blue);
    text-decoration: underline;
}