.modal__style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background: none;
    border: none;
    outline: none;
}
 
 .container {
    background-color: var(--white);
    width: 300px;
    height: 350px;
 }