.skills {
    max-width: 868px;
    width: 100%;
    background: #FEFEFE;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.07);
    border-radius: 20px;    
    padding: 1em;
    margin-top: 1em;
}