html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "sans serif";
  --blue: #589BFF;
  --white: #FFFFFF;
  
  /* for home page */
  background-image: url("../public/home-page-bg.jpg");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
