html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "sans serif";
  --blue: #589BFF;
  --white: #FFFFFF;
  --black: #333333;
  --red: #E7574F;
  --yellow: #FFCD1B;
  --green: #2EBB4D;
  --page-bg-color: #f2f2f2; 
  --secondary-bg-color: #FEFEFE;
  --input-ph-color: rgba(34, 36, 40, 0.5);
  --input-border-color: #EAEAEA;
  --user-info-input-color: #222428;

  --fs-h1: 46px;
  --lh-h1: 56px;

  --fs-h3: 36px;
  --lh-h3: 42px;
  --bold: bold;

  --fs-h4: 24px;
  --lh-h4: 28px;

  --fs-p: 18px;
  --lh-p: 27px;

  --fs-m-p: 16px;
  --lh-m-p: 19px;

  --fs-sm-p: 14px;
  --lh-sm-p: 16px;
  /* for home page */
  background-color: var(--page-bg-color);
}


* {
  box-sizing: border-box;
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  font-weight: var(--bold);
}

h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  font-weight: var(--bold);
}

p {
  font-size: var(--fs-p);
}

header {
  padding: 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

a {
  color: inherit;
  font-size: var(--fs-sm-p);
  line-height: var(--lh-sm-p);
  font-weight: var(--bold);
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
}

/* input fields */
input {
  outline: none;
  padding-left: 17px;
  color: var(--input-ph-color);
  font-size: var(--fs-sm-p);
  line-height: var(--lh-sm-p);
  height: 35px;
  background: var(--white);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 20px;

}

label {
  padding-left: 10px;
  font-size: 12px;
  line-height: var(--lh-sm-p);
  color: var(--input-ph-color);
}

@media (max-width: 600px) {
  body {
    /* typography */
    --fs-h1: 36px;
    --lh-h1: 46px;

    --fs-h3: 36px;
    --lh-h3: 42px;
    --bold: bold;
  
    --fs-p: 16px;
    --lh-p: 21px;
  
    --fs-m-p: 14px;
    --lh-m-p: 14px;
  
    --fs-sm-p: 12px;
    --lh-sm-p: 12px;
  }
}