.modules__container {
    display: grid;
    width: 95vw;
    /* height: 90vh; */
    /* background-color: blueviolet; */
    margin: 0 auto;

    grid-template-columns:  auto 300px;
    justify-items: center;
    column-gap: 71px;
    padding-top: 100px;
}

.lessons__section {
    width: 100%;
    max-width: 773px;
    background-color: var(--white);
    box-shadow: 4px 4px 10px rgba(85, 85, 85, 0.02);
    border-radius: 10px;
    grid-area: 1/1/-1/2;
}

.filter__names ,
.filter__names__inner{
    display: flex;  
    align-items: center;
}

.filter__names {
    width: 100%;
    max-width: 773px;
    font-size: var(--fs-sm-p);
    line-height: var(--lh-sm-p);
    font-weight: bold;
    padding-right: 17%;
}



.filter__name__head{
    width: 20%;
    padding-left: 10px;
}

.filter__names__inner {
    width: 80%;
    /* justify-content: space-between; */
    /* margin-left: 5%; */
}

.filter__names__inner .filter__name:first-child {
    margin-left: 10%;
}

.filter__name {
    width: auto;
    margin-right: 3%;
}

/* .filter__names .filter__name:nth-child(5) {
    width: 12%;
} */


.detail__section {
    width: 300px;
    height: 100%;
    /* background-color: chartreuse; */
    grid-area: 1/2/-1/3;
    padding: 0 5px;
}

@media (max-width: 850px){
    .modules__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 71px;
    }

    .lessons__section {
        grid-area: 1/1/2/-1;
        
    }

    .detail__section {
        grid-area: 2/1/-1/-1;
    }
}
